*{
  width:auto;
  height:auto;
  overflow-x: hidden;
}
#heading {
  color: red;
}
.Header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  border:1px solid #f0f0f0
}
.logo{
  width:30%;
}
.nav-Items > ul{
  display: flex;
  list-style-type: none;
}
.nav-Items > ul > li{
  margin-right:40px;
}
.res-container{
  display: flex;
  flex-wrap:wrap;
}
.res-card{
  border: 1px solid #f0f0f0;
  width: 200px;
  height: auto;
  margin-right: 8px;
  margin-bottom: 8px;
}
.Search{
  margin:10px;
}
.res-card{
  padding:10px 20px;
  margin:0;
}
.res-card:hover{
  border:1px solid #000;
}
.filter-btn{
  margin: 20px 20px;
  color:#000;
}